/* .container{
    margin: 2em auto;
} */

.profile-container {
    max-width: 600px;
    margin: 2em auto;
    padding: 20px;
    background-color: rgb(255, 252, 237);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.profile-heading {
    text-align: center;
    margin-bottom: 30px;
}
.profile-heading h2 {
    font-weight: bold;
    color: #333;
}
.profile-details {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.profile-details:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}
.profile-details label {
    font-weight: bold;
    color: #555;
}
.profile-details p {
    color: #777;
}