<nav class="navbar navbar-expand-lg navbar-dark custom-navbar-color">
  <a class="navbar-brand">Patras Camping</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/camping">Accommodation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/camping">Accommodation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      {{/if}}
      
      {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/booking">Booking</a>
        </li>
      {{/if}}
    </ul>

<ul class="navbar-nav ml-auto">
    {{#if user}}
      <!-- Show these links if user is logged in -->
      <li class="nav-item">
          <a class="nav-link" href="/adminbooking">Admin Panel</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
      </li>
  {{else}}
      <!-- Show these links if user is not logged in -->
      <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
      </li>
  {{/if}}
</ul>

  </div>
</nav>
