<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Include Bootstrap CSS and any other necessary CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- General CSS -->
    <link rel="stylesheet" href="/style.css">

    <!-- Nav Bar CSS -->
    <link rel="stylesheet" href="/navbar.css">   
   
    {{#if customCss}}
        <link rel="stylesheet" href="{{customCss}}">
    {{/if}}


    <!-- Font Awesome CSS (for icons) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="flex-container">
        {{> navbar}}
        <div class="content">
            {{{body}}}
        </div>
        {{> footer}}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const currentPageUrl = window.location.href;
        const navLinks = document.querySelectorAll('.nav-item a');

        navLinks.forEach(function(link) {
          if (link.href === currentPageUrl) {
            link.parentNode.classList.add('active');
          }
        });

        const navbarCollapse = document.querySelector('.navbar-collapse');
        document.querySelector('.navbar-toggler').addEventListener('click', function() {
          navbarCollapse.classList.toggle('show');
        });
      });
    </script>

    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {{#if customJs}}
        <script src="{{customJs}}"></script>
    {{/if}}
    
</body>
</html>