<div id="pictureholder" class="container-fluid" style="background-image: url('../images/OIP.jpg');">
</div> 
<div class="container-fluid mb-3 mt-3">
    <div class="row justify-content-around">
        <div class="col-md-3 text-center">
            <a class="btn btn-lg btn-block" href="/camping">Camping</a>
        </div>
        <div class="col-md-3 text-center">
            <a class="btn active btn-lg btn-block" href="/campers">Campers</a>
        </div>
        <div class="col-md-3 text-center">
            <a class="btn  btn-lg btn-block" href="/bungallows">Bungalows</a>
        </div>
        <div class="col-md-3 text-center">
            <a class="btn  btn-lg btn-block" href="/bell_tents">Bell tent</a>
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="row align-items-center description">
    <div class="camping-option">
        <h3>Campers</h3>
        <p class="section-content">For those seeking a touch of luxury in the wilderness, our charming bungalows offer the perfect blend of comfort and adventure. Nestled amidst the trees, our cozy bungalows provide a serene retreat after a day of outdoor exploration. With comfortable beds, private bathrooms, and rustic decor, you'll feel right at home in our secluded bungalow accommodations.</p>
    </div>
    </div>    
</div>