<div id="pictureholder" class="container-fluid">
</div>

<div class="container-fluid mb-3 mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row justify-content-around">
            <div class="col-md-3 col-sm-6 text-center">
                <a class="btn btn-lg btn-block btn-responsive"  onclick="showDescription('camping', '/img/camping.png')">Camping</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a class="btn btn-lg btn-block btn-responsive"  onclick="showDescription('campers', '/img/campers.png')">Campers</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a class="btn btn-lg btn-block btn-responsive"  onclick="showDescription('bungallows', '/img/bungallows.png')">Bungalows</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a class="btn btn-lg btn-block btn-responsive"  onclick="showDescription('bell_tents', '/img/bell_tents.png')">Bell Tents</a>
            </div>
            </div>
        </div>
</div>

<div class="container-fluid mb-3 mt-3">
    <div class="row align-items-center description" id="camping">
        <div class="col-md-12">
            <div class="camping-option">
                <h3>Camping</h3>
                <p class="section-content">Step into the heart of nature and find your perfect spot among our expansive camping lots. Each lot is a canvas for your outdoor adventure, offering ample space to pitch your tent and immerse yourself in the wilderness. Surrounded by towering trees and the soothing sounds of nature, you'll experience a sense of tranquility that only camping can provide.

Our camping lots are equipped with all the essentials to ensure a comfortable stay. Access to clean water and restroom facilities is readily available, so you can focus on what truly matters – connecting with nature and creating lasting memories with friends and family. Whether you're a seasoned outdoor enthusiast or new to camping, our spacious lots provide the ideal setting for your next outdoor getaway.

</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center description" id="campers">
        <div class="col-md-12">
            <div class="camping-option">
                <h3>Campers</h3>
                <p class="section-content">Welcome to our spacious camper vehicle lots, where adventure meets convenience. Park your camper amidst the natural beauty of our campground, with easy access to electricity, water hookups, and restroom facilities. Whether you're traveling solo or with family, our lots provide a comfortable home base for your mobile adventures. Explore the wilderness or relax at your campsite, enjoying the freedom of life on the road. Start your next adventure at our campground, where every journey begins with a warm welcome</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center description" id="bungallows">
        <div class="col-md-12">
            <div class="camping-option">
                <h3>Bungalows</h3>
                <p class="section-content">Escape to your own private oasis with our charming bungalows, where rustic charm meets modern comfort in the heart of nature. Tucked away in secluded corners of the campground, these cozy cabins offer a peaceful retreat for solo travelers, couples, or small groups.

Step inside and feel instantly at home amidst the warm and inviting atmosphere of our bungalows. Each cabin is tastefully furnished with comfortable bedding, rustic decor, and all the modern amenities you need for a relaxing stay. From fully-equipped kitchens to cozy living areas, our bungalows provide everything you need to unwind and recharge after a day of outdoor adventures.

With private outdoor seating areas and scenic views of the surrounding landscape, our bungalows offer the perfect blend of privacy and serenity. Whether you're seeking a romantic getaway or a peaceful retreat with friends, our cozy cabins provide the ideal setting for your next escape into nature.</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center description" id="bell_tents">
        <div class="col-md-12">
            <div class="camping-option">
                <h3>Bell Tents</h3>
                <p class="section-content">Indulge in the luxury of glamping with our charming bell tents, where comfort meets adventure in the great outdoors. Nestled amidst the natural beauty of our campground, these cozy retreats offer a unique and unforgettable experience for couples or small families.

Step inside your private sanctuary and discover a haven of comfort and style. Each bell tent is tastefully furnished with plush bedding, soft lighting, and rustic decor, creating a warm and inviting atmosphere that's perfect for relaxation. Whether you're lounging on the comfortable bedding or enjoying a cup of coffee on your private outdoor seating area, you'll feel right at home amidst nature's splendor.

With all the comforts of home at your fingertips, including electricity and convenient access to restroom facilities, our bell tents offer a seamless blend of luxury and adventure. Experience the magic of glamping and create memories that will last a lifetime at our campground.</p>
            </div>
        </div>
    </div>
</div>

<script>
    function showDescription(id, imageUrl) {
        // Hide all descriptions
        document.querySelectorAll('.description').forEach(description => {
            description.classList.remove('active-description');
        });

        // Show the selected description
        document.getElementById(id).classList.add('active-description');

        // Change the background image
        document.getElementById('pictureholder').style.backgroundImage = 'url(' + imageUrl + ')';
    }
</script>