.buffers {
    
   text-align: center;
    color: #333;
    background-color:#F1EDE4; /* Light blue background color */
    max-width: 600px;
    margin: 1em auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
}
.title{color: #004080;
        font-size: 40px;}
.form-group h3{color: #004080;
    font-size: 25px;}
label{font-weight: bold;}

.container
{
    margin-bottom: 1em;
}