.event-card {
    margin-bottom: 2em;
}

.card {
    border: none;
    border-radius: 1em;
    box-shadow: 0 0.35em 0.5em rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-0.3em);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-radius: 1em 1em 0 0;
    height: 13em; /* Adjust the height as needed */
    object-fit: cover;
}


.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    color: #666;
}

.event-details {
    margin-top: 1em;
}

.event-details p {
    margin-bottom: 0.3em;
}