.container {
    margin: 2.5em auto;
}

form {
    background-color: #F5F2EB;
    padding: 2em;
    border: 0.1em solid #F5F2EB;
    border-radius: 0.7em;
    box-shadow: 0 0.5em 0.7em rgba(0, 0, 0, 0.1);
}

.form-control
{
    background-color: #F5F2EB;
    border: none;
    border-bottom: 0.1em solid #E3DBC9;
}